*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 7.5vmin;
}
#game-board {
  /*--grid-size: 4;
  --cell-size: 20vmin;
  --cell-gap: 2vmin;
   moved to grid layout variables in grid.js */
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: rgb(157, 244, 255);
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: 2vmin;
  position: relative;
}

.cell {
  background-color: #AAA;
  border-radius: 1vmin;
}
.tile {
  --x: 1;
  --y: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 1vmin;
  top: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc( var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  background-color: hsl(200, 50%, var(--background-lightness));
  color: hsl(200, 25%, var(--text-lightness));
  animation: show 187ms ease-in-out; /* fade and scale the tiles in */
  background-color: aquamarine;
  transition: 100ms ease-in-out; /* transition animation on change by x & y values */
}


@keyframes show {
  0% {
    opacity: .1;
    transform: scale(0);
  }
}